<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://instagram.com/ludlimah_?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">INSTAGRAM</a></li>
			<li><a href="https://www.linkedin.com/in/ludmila-lima-a84654234">LINKEDIN</a></li>
			<li><a href="https://github.com/luddlimah">GITHUB</a></li>
		</ul>
	</div>
</div>
